<ol class="breadcrumb">
  <li><%= link "Home", to: tour_path(@conn, :index) %></li>
  <li class="active">Cities</li>
</ol>

<h2>Cities</h2>
<ul>
  <%= for city <- @cities do %>
    <li><h3><%= link city.name, to: city_path(@conn, :show, city) %></h3></li>
  <% end %>
</li>
