<ol class="breadcrumb">
  <li><%= link "Home", to: tour_path(@conn, :index) %></li>
  <li><%= link "Cities", to: city_path(@conn, :index) %></li>
  <li class="active"><%= @city.name %></li>
</ol>

<h2><%= @city.name %></h2>
<%= render PhoenixTours.TourView,
           "_list.html",
           conn: @conn,
           tours: @city.tours %>
