<h2>Show tour</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @tour.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @tour.description %>
  </li>

  <li>
    <strong>Published:</strong>
    <%= @tour.published %>
  </li>

  <li>
    <strong>City:</strong>
    <%= @tour.city_id %>
  </li>

</ul>

<%= link "Back", to: tour_path(@conn, :index) %>
